body{
    background-image: url('rdr2_1.jpg');
    background-size: cover;
    
}
.navbar{
    
    height: 80px;
}

.left{
    
    height: 50px;
    width: 5%;
    display: inline-block;
    

}
.mid{
    border: 2px solid black;
    background-color: black;
    height: 23%;
    width: 64%;
    display: inline-block;
    border-radius: 13px;
    box-shadow: 1px 2px 4px rgb(62, 60, 60);
    position: relative;
    left: 9.5%;
    top: -6px;
    
}
.right{
    
    height: 59px;
    width: 15%;
    
    position: relative;
    right: 1.3%;
    float: right;
}
.logo{
    box-shadow: 1px 2px 4px rgb(62, 60, 60);
    border-radius: 50%;
    height: 50px;
    width: 75px; 
       
    position: relative;
    top: 7px;
    left: 22%;
}


.mid li{
    
    float: left;
    list-style: none;
    margin-left: 9%;
    margin-right: 10%;
    position: relative;
    bottom: 16px;

}
.mid li a{
    color: white;
    text-decoration: none;
}
.mid li a:hover{
    color: red;
}
#search{
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin: 23px 12px;
    box-shadow: 1px 1px 4px rgb(62, 60, 60);
    
    width: 70%;
    background-color: black;
}

#submit{

    border-radius: 48px;
    box-shadow: 1px 1px 4px rgb(62, 60, 60);
    height: 21px;
    width: 21px;
    float: right;
    position: relative;
    bottom: -23px;
    right: 13%;
      
}
input::placeholder{
    color: white;
}
input:focus::placeholder {
    color:red;
}
.content{
    
    color: black;
    text-align: center;
    font-size: 100px;
    cursor:default ;
    
}
.games{
    
    display: inline-block;
    width: 100%;
    height: 281px;
}
.details{
    
    display: inline-block;
    margin-top: 5%;
    width: 20%;
    
    
    
    
}
#detail1{
    float: left;
    margin-left: 15%;

    
}
#detail2{
    float: left;
    margin-left: 6%;
    

}
#detail3{
    float: left;
    margin-left: 6%;
}


.details summary{
    
    
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    box-shadow: 0px 1px 0px rgb(62, 60, 60);
    
}
.details summary:hover{
    color: rgb(44, 37, 37);
    
}
#detail1 ul{
    background-image: url(open2.gif);
    
    background-size:131%;
    background-position-x: 3%;
    background-position-y:32%;
    
    
}
#detail2 ul{
    background-image: url(race2.gif);
    background-size: 117%;
    background-position-x: 32%;
    background-position-y:48%;
}
#detail3 ul{
    background-image: url(shoot.gif);
    background-size: 117%;
    background-position-x: 32%;
    background-position-y:48%;
    
}

.details ul{
    
    margin-top: -1.4%;
    border-radius: 14px;
    box-shadow: 1px 2px 4px rgb(62, 60, 60);
}
.details li:hover{
    color: red;
    
}
.details li{

    
    list-style:square;
    font-size: 20px;
    margin: 5px;
    color: white;
   
}

.details li a{
    
    
    color: white;
    text-decoration: none;
}
.details li a:hover{
    color:red;
    cursor: pointer;
}
.sHover{
    font-size: 25px;
    font-weight: bold;
    font-family:sans-serif;
    border-bottom: 2px solid black; 
    border-radius: 30%;
    padding-bottom: 3% ;
    cursor:default;
    
}

.sHover:hover+.dHover,.dHover:hover {
    display: block;
}

.dHover{
    display: none;
}


.center1{
    margin-left: 28%;
}
.center2{
    margin-left:35%;

}
.center3{
    margin-left: 32%;
}