body{
    background-image: url('rdr2_1.jpg');
    background-size: cover;
    
}
.navbar{
    
    height: 80px;
}

.left{
    
    height: 50px;
    width: 5%;
    display: inline-block;
    

}
.mid{
    border: 2px solid black;
    background-color: black;
    height: 23%;
    width: 64%;
    display: inline-block;
    border-radius: 13px;
    box-shadow: 1px 2px 4px rgb(62, 60, 60);
    position: relative;
    left: 9.5%;
    top: -6px;
    
}




.logo{
    box-shadow: 1px 2px 4px rgb(62, 60, 60);
    border-radius: 50%;
    height: 50px;
    width: 75px; 
       
    position: relative;
    top: 7px;
    left: 22%;
}


.mid li{
    
    float: left;
    list-style: none;
    margin-left: 10.3%;
    margin-right: 9%;
    position: relative;
    bottom: 16px;

}
.mid li a{
    color: white;
    text-decoration: none;
}
.mid li a:hover{
    color: rgb(209, 196, 196);
    
    
}


.links{
    height: 19px;
    padding-left: 2px;
    padding-right: 2px;
}
.links:hover{
    border-bottom: 2px solid rgb(209, 196, 196);
}
.right{
    
    height: 40px;
    width: 15%;
    
    position: relative;
    top: 29%;
    right: 0.3%;
    float: right;
    
    
}

#search{
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    height: 15.5px;
    padding-right: 10%;
    box-shadow: 1px 2px 4px rgb(62, 60, 60);
    border-right: 1px solid black;
    width: 70%;
    
    background-color: black;
    float: left;
   
}

#submit{

    
    filter: invert();
    
    width: 21.2px;
    position: relative;
    transform: translateX(-23px) translateY(1px);
    
    
    
      
}

input::placeholder{
    color: white;
}
input:focus::placeholder {
    color:rgb(209, 196, 196);
}
.content{
    
    color: black;
    text-align: center;
    font-size: 100px;
    cursor:default ;
    
}
.games{
    
    display: inline-block;
    width: 100%;
    height: 281px;
}
.details{
    
    display: inline-block;
    margin-top: 5%;
    width: 20%;
    
    
    
    
}
#detail1{
    float: left;
    margin-left: 15%;

    
}
#detail2{
    float: left;
    margin-left: 6%;
    

}
#detail3{
    float: left;
    margin-left: 6%;
}


.details summary{
    
    
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    box-shadow: 0px 1px 0px rgb(62, 60, 60);
    
    
}
.details summary:hover{
    color: rgb(44, 37, 37);
    
}
#detail1 ul{
    background-image: url(open2.gif);
    
    background-size:131%;
    background-position-x: 3%;
    background-position-y:32%;
    
    
}
#detail2 ul{
    background-image: url(race2.gif);
    background-size: 117%;
    background-position-x: 32%;
    background-position-y:48%;
}
#detail3 ul{
    background-image: url(shoot.gif);
    background-size: 117%;
    background-position-x: 32%;
    background-position-y:48%;
    
}

.details ul{
    
    margin-top: -1.4%;
    border-radius: 14px;
    box-shadow: 1px 2px 4px rgb(62, 60, 60);
}
.details li:hover{
    color: red;
    
}
.details li{

    
    list-style:square;
    font-size: 20px;
    margin: 5px;
    color: white;
   
}

.details li a{
    
    
    color: white;
    text-decoration: none;
}
.details li a:hover{
    color:red;
    
}
.sHover{
    font-size: 25px;
    font-weight: bold;
    font-family:sans-serif;
    text-align:center;
    border-bottom: 2px solid black; 
    border-radius: 30%;
    padding-bottom: 3% ;
    cursor:default;
    
}

.sHover:hover+.dHover,.dHover:hover {
    display: block;
    
}

.dHover{
    display: none;
}

.notavailable:hover{
    cursor: not-allowed;
}


#bitweb{
    position: absolute;
    color: white;
    text-align: center;
    margin: auto;
    width: 46%;
    
    bottom: 0px;
    left: 27%;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgb(62, 60, 60) ;
}
#bitweb a{
    color: red;
}

#bitweb a:hover{
    color: rgb(228, 74, 74);
}

#info{
    height: 67px;
    width: 27%;
    
    
    
    
    text-align: center;
    font-size: 15px;
    color: white;
    float: left;
    position: absolute;
    bottom: 0px;
    left: 0px;
    
    
    transition-property:color,height,width,background;
    transition-duration: 500ms;
    transition-timing-function: ease-in;

    
    
}

#info:hover {
    
    color: rgb(255, 255, 255);
    height: 67px;
    width:100%;
    overflow: hidden;
    background-color: black;  
    cursor: default; 
    
    
   
}

#info:hover::after{
    
    content: url('bottom1.png');
    position: relative;
    
    
    
    animation:fade 5s;
}

#creator{
    height: 67px;
    width: 27%;
    
    
   
    
    text-align: center;
    font-size: 15px;
    color: white;
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    
    
    transition-property:color,height,width,background;
    transition-duration: 500ms;
    transition-timing-function: ease-in;

    
    
}

#creator:hover {
    
    color: rgb(255, 255, 255);
    height: 67px;
    width: 100%;
    overflow: hidden;
    background-color: black;  
    cursor: default; 
    
   
}


#creator:hover::after{
    
    content: url('bottom3.png');
    position: relative;
    
    
    
    animation:fade 5s;
}


@keyframes fade {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
